@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    font-family: 'Nunito Sans', Courier, monospace;
    background-color: #fff;
}

.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top:0;
    left:0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}